$wit-blue: #2831A4;
$wit-pink: #F99899;
$dark-grey: #363636;

$screen-tablet: 768px;

.logo {
    height: 50px;
    pointer-events: none;
}

.main-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: $screen-tablet) {
        min-height: calc(100vh - 140px); // full page minus header
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.main-section__text,
.main-section__img {
    padding: 20px 50px;
    @media screen and (min-width: $screen-tablet) {
        width: 50%;
    }
}

.main-section__img {
    text-align: center;
}

.disp-flex {
    display: flex;
}

.flex-just--sb {
    justify-content: space-between;
}

.flex-align--cen {
    align-items: center;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

ul {
  appearance: none;
  list-style-type: none;
  list-style: none;
}

.header {
    padding: 15px 20px;

    &, ul {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: $screen-tablet) {
        padding: 30px 40px;
        justify-content: space-between;
        &, ul {
            flex-direction: row;
        }
    }
}

button {
    color: #fff;
    background-color: #000;
    border-color: #000;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    padding: 14px 24px;
    font: 500 15px Poppins;
    font-style: normal;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: .02em;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    outline: none;
    &:hover {
        background-color: $dark-grey;
        border-color: $dark-grey;
    }
    &:focus,
    &:active {
        box-shadow: 0px 5px 7px rgba($dark-grey, 0.5);
    }
}

a {
    color: #000;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $wit-blue;
    }
}

.btn-primary {
    color: #fff;
    background-color: $wit-blue;
    border-color: $wit-blue;
    &:hover,
    &:active {
        color: $wit-blue;
        background-color: #fff;
        border-color: $wit-blue;
    }
}

.btn-lg {
    padding: 20px 30px;
    font-size: 16px;
}
